 * {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    position: relative;
}

.body-bg {
    position: absolute;
    left: 0;
    bottom: 0;
}

.bucket {
    width: 25vw;
    background-color: #42f5b6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    font-size: 12pt;
}

.bucket p {
    text-align: center;
    text-transform: uppercase;
}

.login-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    text-shadow: 0 0 whitesmoke;
    font-weight: 600;
    opacity: 0.8;
    border-radius: 7px;
}

.login-btn-submit {
    background-color: #2e313b;
    font-family: 'Helvetica', 'Arial', sans-serif !important;
    color: white;
    font-size: 12pt;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
